<?xml version="1.0"?>
<config>
    <modules>
        <Virtua_TLSoft>
            <version>0.1.0</version>
        </Virtua_TLSoft>
    </modules>
    <default>
        <payment>
            <tlbarion>
                <virtua_tlsoft_reservation_period>1.00:00:00</virtua_tlsoft_reservation_period>
            </tlbarion>
        </payment>
    </default>
    <global>
        <models>
            <virtua_tlsoft>
                <class>Virtua_TLSoft_Model</class>
            </virtua_tlsoft>
            <tlbarion>
                <rewrite>
                    <paymentmethod>Virtua_TLSoft_Model_Paymentmethod</paymentmethod>
                </rewrite>
            </tlbarion>
        </models>
        <blocks>
            <tlbarion>
                <rewrite>
                    <form>Virtua_TLSoft_Block_Form</form>
                </rewrite>
            </tlbarion>
        </blocks>
        <helpers>
            <tlbarion>
                <rewrite>
                    <data>Virtua_TLSoft_Helper_Data</data>
                </rewrite>
            </tlbarion>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Virtua_TLSoft before="Virtua_TLSoft_Adminhtml">Virtua_TLSoft_Adminhtml</Virtua_TLSoft>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <controller_action_layout_render_before_adminhtml_sales_order_view>
                <observers>
                    <ctp_tcs>
                        <class>Virtua_TLSoft_Model_Adminhtml_Observer</class>
                        <method>loadButtons</method>
                    </ctp_tcs>
                </observers>
            </controller_action_layout_render_before_adminhtml_sales_order_view>
        </events>
    </adminhtml>
</config>