<?xml version="1.0"?>
<config>
    <modules>
        <Virtua_BarionPayment>
            <version>0.1.0</version>
        </Virtua_BarionPayment>
    </modules>
    <global>
        <models>
            <virtua_barionpayment>
                <class>Virtua_BarionPayment_Model</class>
            </virtua_barionpayment>
            <tlbarion>
                <rewrite>
                    <paymentmethod>Virtua_BarionPayment_Model_Paymentmethod</paymentmethod>
                </rewrite>
            </tlbarion>
        </models>
        <resources>
            <virtua_barionpayment_setup>
                <setup>
                    <module>Virtua_BarionPayment</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </virtua_barionpayment_setup>
            <virtua_barionpayment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </virtua_barionpayment_write>
            <virtua_barionpayment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </virtua_barionpayment_read>
        </resources>
        <blocks>
            <tlbarion>
                <rewrite>
                    <form>Virtua_BarionPayment_Block_Form</form>
                    <adminhtml_barionpayment_grid>Virtua_BarionPayment_Block_Grid</adminhtml_barionpayment_grid>
                </rewrite>
            </tlbarion>
        </blocks>
        <helpers>
            <tlbarion>
                <rewrite>
                    <data>Virtua_BarionPayment_Helper_Data</data>
                </rewrite>
            </tlbarion>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Virtua_BarionPayment before="Mage_Adminhtml">Virtua_BarionPayment_Adminhtml</Virtua_BarionPayment>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <controller_action_layout_render_before_adminhtml_sales_order_view>
                <observers>
                    <ctp_tcs>
                        <class>Virtua_BarionPayment_Model_Adminhtml_Observer</class>
                        <method>loadButtons</method>
                    </ctp_tcs>
                </observers>
            </controller_action_layout_render_before_adminhtml_sales_order_view>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <tlbarion>
                <args>
                    <modules>
                        <Virtua_BarionPayment before="TLSoft_BarionPayments">Virtua_BarionPayment</Virtua_BarionPayment>
                    </modules>
                </args>
            </tlbarion>
        </routers>
        <layout>
            <updates>
                <virtuabarionpayment>
                    <file>virtua_barionpayment.xml</file>
                </virtuabarionpayment>
            </updates>
        </layout>
    </frontend>
    <default>
        <payment>
            <tlbarion>
                <virtua_barionpayment_reservation_period>1.00:00:00</virtua_barionpayment_reservation_period>
            </tlbarion>
        </payment>
    </default>
</config>