<?xml version="1.0"?>
<config>
    <modules>
        <Virtua_DisableVatTax>
            <version>3.0.0</version>
        </Virtua_DisableVatTax>
    </modules>
    <global>
        <models>
            <virtua_disablevattax>
                <class>Virtua_DisableVatTax_Model</class>
            </virtua_disablevattax>
        </models>
        <resources>
            <virtua_disablevattax_setup>
                <setup>
                    <module>Virtua_DisableVatTax</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </virtua_disablevattax_setup>
            <virtua_disablevattax_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </virtua_disablevattax_write>
            <virtua_disablevattax_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </virtua_disablevattax_read>
        </resources>
        <helpers>
            <virtua_disablevattax>
                <class>Virtua_DisableVatTax_Helper</class>
            </virtua_disablevattax>
        </helpers>
        <events>
            <sales_quote_collect_totals_before>
                <observers>
                    <virtua_disablevattax>
                        <type>singleton</type>
                        <class>Virtua_DisableVatTax_Model_Observer</class>
                        <method>disableVatTaxForQuote</method>
                    </virtua_disablevattax>
                </observers>
            </sales_quote_collect_totals_before>
        </events>
    </global>
    <frontend>
        <routers>
            <customer>
                <args>
                    <modules>
                        <Virtua_DisableVatTax before="Mage_Customer">Virtua_DisableVatTax</Virtua_DisableVatTax>
                    </modules>
                </args>
            </customer>
            <opc>
                <args>
                    <modules>
                        <Virtua_DisableVatTax before="IWD_Opc">Virtua_DisableVatTax</Virtua_DisableVatTax>
                    </modules>
                </args>
            </opc>
        </routers>
        <layout>
            <updates>
                <virtua_disablevattax>
                    <file>virtua_disablevattax.xml</file>
                </virtua_disablevattax>
            </updates>
        </layout>
        <translate>
            <modules>
                <virtua_disablevattax>
                    <files>
                        <default>Virtua_DisableVatTax.csv</default>
                    </files>
                </virtua_disablevattax>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Virtua_DisableVatTax before="Mage_Adminhtml">Virtua_DisableVatTax_Adminhtml</Virtua_DisableVatTax>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>