<?xml version="1.0"?>
<config>
    <modules>
        <Virtua_SEO>
            <version>1.0.0</version>
        </Virtua_SEO>
    </modules>
    <global>
        <models>
            <virtua>
                <class>Virtua_SEO_Model</class>
            </virtua>
        </models>
        <helpers>
            <virtua_seo>
                <class>Virtua_SEO_Helper</class>
            </virtua_seo>
        </helpers>
    </global>
</config>