<?xml version="1.0"?>
<config>
    <modules>
        <Virtua_Seo>
            <version>1.1.0</version>
        </Virtua_Seo>
    </modules>
    <global>
        <models>
            <virtua>
                <class>Virtua_Seo_Model</class>
            </virtua>
        </models>
        <helpers>
            <virtua_seo>
                <class>Virtua_Seo_Helper</class>
            </virtua_seo>
        </helpers>
        <resources>
            <virtua_setup>
                <setup>
                    <module>Virtua_Seo</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </virtua_setup>
        </resources>
        <blocks>
            <seo>
                <class>Virtua_Seo_Block</class>
            </seo>
        </blocks>
        <models>
            <virtua>
                <class>Virtua_Seo_Model</class>
            </virtua>
        </models>
        <helpers>
            <virtua_seo>
                <class>Virtua_Seo_Helper</class>
            </virtua_seo>
        </helpers>
    </global>
    <frontend>
        <routers>
            <seo>
                <use>standard</use>
                <args>
                    <module>Virtua_Seo</module>
                    <frontName>seo</frontName>
                </args>
            </seo>
        </routers>
        <translate>
            <modules>
                <virtua_seo>
                    <files>
                        <default>Virtua_Seo.csv</default>
                    </files>
                </virtua_seo>
            </modules>
        </translate>
    </frontend>
</config>
