<?xml version="1.0"?>
<config>
    <modules>
        <Zebu_Numid>
            <version>0.1.0</version>
        </Zebu_Numid>
    </modules>
    <global>
        <helpers>
            <numid>
                <class>Zebu_Numid_Helper</class>
            </numid>
        </helpers>
        <models>
            <numid>
                <class>Zebu_Numid_Model</class>
                <resourceModel>numid_mysql4</resourceModel>
            </numid>
        </models>
        <resources>
            <customerattribute1409234523_setup>
                <setup>
                    <module>Zebu_Numid</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customerattribute1409234523_setup>
            <customerattribute1409234523_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customerattribute1409234523_write>
            <customerattribute1409234523_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customerattribute1409234523_read>
        </resources>

        <fieldsets>
            <customer_address>
                <numid>
                    <to_quote_address>*</to_quote_address>
                </numid>
            </customer_address>
            <sales_convert_order_address>
                <numid>
                    <to_quote_address>*</to_quote_address>
                </numid>
            </sales_convert_order_address>
            <sales_convert_quote_address>
                <numid>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </numid>
            </sales_convert_quote_address>
            <sales_copy_order_billing_address>
                <numid>
                    <to_order>*</to_order>
                </numid>
            </sales_copy_order_billing_address>
        </fieldsets>

    </global>
</config> 