<?xml version="1.0"?>
<config>
    <modules>
        <Virtua_CategoryPosts>
            <version>0.1.1</version>
        </Virtua_CategoryPosts>
    </modules>
    <frontend>
        <layout>
            <updates>
                <categoryposts module="Virtua_CategoryPosts">
                    <file>categoryposts.xml</file>
                </categoryposts>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <categoryposts>
                <class>Virtua_CategoryPosts_Block</class>
            </categoryposts>
            <blog>
                <rewrite>
                    <last>Virtua_CategoryPosts_Block_Last</last>
                </rewrite>
            </blog>
        </blocks>
        <resources>
            <virtua_categoryposts_setup>
                <setup>
                    <module>Virtua_CategoryPosts</module>
                </setup>
            </virtua_categoryposts_setup>
        </resources>
    </global>
</config>