<?xml version="1.0"?>
<config>
    <sections>
        <general>
            <groups>
                <virtua_urlrewritesmap translate="label">
                    <label>URL Rewrites Map</label>
                    <tab>virtua_urlrewritesmap</tab>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <url_rewrites_map_file translate="label">
                            <label>URL Rewrites Map</label>
                            <comment>Upload your csv url rewrites map file from here</comment>
                            <frontend_type>file</frontend_type>
                            <backend_model>adminhtml/system_config_backend_file</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">rewrite</upload_dir>
                            <base_url type="media" scope_info="1">admin-config-uploads</base_url>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </url_rewrites_map_file>
                    </fields>
                </virtua_urlrewritesmap>
            </groups>
        </general>
    </sections>
</config>
